/* header.css */

.header {
    display: flex;
    align-items: center;
    background-color: #528265;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_logo {
    width: 150px;
    object-fit: fill;
    margin: 0px 0px 0px 0px;
}

.header_search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    overflow: hidden;
    height: 80%;
    margin: 0 4px;
}

.header_searchInput {
    height: 80%;
    width: 100%;
    padding: 10px;
    border: none;
}

.header_searchIcon {
    background-color: #ffffff;
    padding: 5px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_Nav {
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.header_option {
    padding: 10px 9px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    
}

.header_optionLineOne {
    font-size: 10px;
}

.header_optionLineTwo {
    font-size: 13px;
    font-weight: 800;
}

.header_optionBasket{
    display:flex;
    align-items: center;
    color: white;
    padding: 5px;
    display: flex;
    
    
}
